<a href="{% url 'home' %}">메인화면</a>
<h1>#{{ post.id }}번 글</h1>
<h2>제목 : {{ post.title }}</h2>
<p>내용 : {{ post.content }}</p>
<p>쓰니 : {{ post.user }}</p>
<a href="{% url 'posts:update' post.id %}">수정</a><br>
<form action="{% url 'posts:delete' post.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제">
</form>
<br>

<h2>댓글</h2>
<p>댓글 수 : {{ post.comments.count }}개</p> <!-- related_name을 써서 가능한 부분 -->
<a href="{% url 'posts:new_comment' post.id %}">댓글 남기기</a> <!-- url 클릭 시 post.id를 함께 넘겨줌 -->
{% for comment in post.comments.all %}
    <p>쓰니 : {{ comment.user }}</p>
    <p>내용 : {{ comment.content }}</p>
    <form action="{% url 'posts:delete_comment' comment.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="댓글삭제">
    </form>
    {% empty %}
    <p>댓글이 없습니다.</p>
{% endfor %}